.footer {
  width: 100%;
  height: 100%;
  background-color: var(--backgr-color2);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  line-height: 20px;
  .footer__container {
    width: 1200px;
    // width: 1024px;
    height: 200px;
    padding: var(--padding-main) 0px;
    .copy__right {
      color: var(--color-black99);
    }
    .list__action {
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      .action__item {
        padding: 0px 12px;
        color: var(--color-black);
        text-transform: capitalize;
        border-right: 1px solid var(--color-black99);
        &:nth-child(1) {
          padding-left: 0;
        }
      }
    }
  }
}
