.store__des {
  margin-top: 30px;
  font-size: 1.1rem;
  position: relative;
  display: flex;
  justify-content: space-between;
  background-color: var(--backgr-color2);
  padding: 0px 20px;
  z-index: 1;
  .des__search {
    color: var(--color-back99);
    margin-top: 70px;
    position: relative;
  }

  .des__review {
    .review__img {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 100%;
      height: 100%;
      .img {
        width: 90%;
        height: 90%;
      }
    }
  }
}
.store__product {
  background-color: aqua;
  height: 300px;
}
